.hs-product-configurator {
  margin: remify(30px) 0;

  &_intro {
    font-size: remify(16px);
    line-height: remify(20px);
    margin: remify(30px) 0;
  }

  &_intro-title {
    font-family: $f_title;
    color: $c_darkblue;
    margin-bottom: remify(2px);
  }

  &_intro-detail {
    color: $c_darkgrey;
  }

  &_selection-title {
    font-family: $f_body;
    color: $c_grey;
    font-size: remify(16px);
    line-height: remify(20px);
    font-weight: 600;
  }

  &_selection-choices {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: remify(14px) 0;
    padding: 0;
  }
}