.hs-product-gallery {
  width: 100%;
  max-width: remify(620px);

  &_image {
    width: 100%;
  }

}

@include desktop {
  .hs-product-gallery{
    flex: 1 1 66%;
    max-width: remify(872px);
    margin: remify(32px) remify(38px);
  }
}