.hs-product-select-box {
  flex: 1 1 31%;
  margin-right: remify(6px);
  height: remify(166px);
  min-width: remify(96px);
  max-width: 50%;

  &_image-container {
    border: transparent solid 2px;
  }
  &_image {
    width: 100%;
    margin-bottom: remify(20px);
  }

  &_button {
    position: relative;
    height: remify(40px);
    background-color: #E8E8E8;
    border-bottom: #E8E8E8 solid 1px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  &_button-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $c_darkgrey;
    font-size: remify(14px);
    line-height: remify(20px);
  }

  &.active {
    .hs-product-select-box {
      &_image-container {
        border: $c_blue solid 2px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom: none;
      }
      &_button {
        background-color: $c_blue;
      }
      &_button-text {
        color: $c_white;
      }
    }
  }

  &:last-child {
    margin-right: 0;
  }
}