@font-face {
  font-family: Bungee;
  src: url(/fonts/Bungee/Bungee-Regular.ttf);
}

@font-face {
  font-family: Raleway;
  src: url(/fonts/Raleway/Raleway-Regular.ttf);
}

@font-face {
  font-family: Raleway;
  font-weight: 600;
  src: url(/fonts/Raleway/Raleway-Semi-Bold.ttf);
}

@font-face {
  font-family: Raleway;
  font-weight: 700;
  src: url(/fonts/Raleway/Raleway-Bold.ttf);
}
